{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "env": { "es6": true },
  "ignorePatterns": ["node_modules", "dist", "coverage", "jest.config.ts"],
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "globals": { "BigInt": true, "console": true, "WebAssembly": true },
  "rules": {
    "newline-before-return": "warn",
    "camelcase": "off",
    "no-console": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/order": ["warn", { "alphabetize": { "order": "asc" } }],
    "sort-imports": ["warn", { "ignoreDeclarationSort": true, "ignoreCase": true }]
  }
}
